@import "tailwindcss";

@layer base{
    body{
        font-size: 14px;
    }
    .line:hover{
       color: #f03248;
    }
    .line{
        font-size: small;
    }
    td,th{
        padding: 10px;
        text-align: center;
    }
    button{
        cursor: pointer;
    }
}
@theme{
    --default-font-family: "Roboto", sans-serif;
}